@import url("//fonts.googleapis.com/css?family=Pacifico&text=Pure");
@import url("//fonts.googleapis.com/css?family=Roboto:700&text=css");
@import url("//fonts.googleapis.com/css?family=Kaushan+Script&text=!");

/*=============================================================

Page Defaults

=============================================================*/

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #eee;
    font-family: 'Raleway', Arial, sans-serif;
    overflow-x: hidden;
}


/*=============================================================

Typography

=============================================================*/

* {
    color: #542;
    text-decoration: none;
}

@media only screen and (max-width: 480px) {
    html,
    body {
        font-size: 13px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 1000px) {
    html,
    body {
        font-size: 14px;
    }
}

@media only screen and (min-width: 1000px) {
    html,
    body {
        font-size: 16px;
    }
}


/*=============================================================

Custom Grid

=============================================================*/

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row {
    width: 100%;
    max-width: 100%;
    display: block;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 0px solid red;
}

@media only screen and (max-width: 480px) {
    /* For Phones: */
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
    [class*="col-m"] {
        background: transparent;
        border: 0px solid black;
    }
}

@media only screen and (min-width: 480px) and (max-width: 1024px) {
    /* For tablets: */
    .col-m-1 {
        width: 8.33%;
    }
    .col-m-2 {
        width: 16.66%;
    }
    .col-m-3 {
        width: 25%;
    }
    .col-m-4 {
        width: 33.33%;
    }
    .col-m-5 {
        width: 41.66%;
    }
    .col-m-6 {
        width: 50%;
    }
    .col-m-7 {
        width: 58.33%;
    }
    .col-m-8 {
        width: 66.66%;
    }
    .col-m-9 {
        width: 75%;
    }
    .col-m-10 {
        width: 83.33%;
    }
    .col-m-11 {
        width: 91.66%;
    }
    .col-m-12 {
        width: 100%;
    }
    [class*="col-m"] {
        background: transparent;
        border: 0px solid black;
    }
}

@media only screen and (min-width: 1024px) {
    /* For Desktops: */
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
    [class*="col-"] {
        display: block;
        background: transparent;
        border: 0px solid black;
    }
}


/*=============================================================

Images

=============================================================*/

.image-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 50%;
}

.image-container img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.responsive-image {
    display: block;
    max-width: 100%;
    height: auto;
}


/*=============================================================

Column Items with Description

=============================================================*/

.item-container {
    background: #fff;
}

.item-container:hover {
    background: #eee;
    cursor: pointer;
}

.item-description > p {
    padding: 5px 5px;
    margin: 0;
    font-size: 100%;
}

.item-details {
    padding: 0px;
    background: #fff;
}

.item-description {
    position: relative;
    overflow: hidden;
    height: auto;
    padding: 5px;
}

.vertical-align-content {
    display: flex;
    justify-content: center;
    /*    align-items: center;*/
    color: #fff;
    flex-direction: column;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}


/*=============================================================

Custom Styling

=============================================================*/

#body-wrapper {
    height: 100%;
}


/*=============================================================

Header Styling

=============================================================*/

#header-container {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden !important;
    background-color: #293646;
    background-image: url(../images/header-bg.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    position: relative;
}


/*
Header Navigation
*/

.header-nav {
    height: 50px;
    background: rgba(0, 139, 209, 0.2);
    padding: 0;
    margin: 0 !important;
}

.header-nav > div {
    height: 100%;
    margin: 0;
    position: relative;
}

.header-nav .logo {
    position: relative;
}

.nav-menu {
    text-align: right
}

.navigation {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px 5px;
    background-color: transparent;
    height: 100%;
}

.navigation a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.navigation .ion {
    font-size: 32px;
    color: #fff;
}

#pointer {
    position: absolute;
    top: 0%;
    right: 50px;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    height: 100%;
}

#pointer span,
#pointer i {
    color: #fff;
    padding: 5px
}

#pointer:before {
    margin-right: 5px;
    font-size: 16px;
    position: relative;
    top: 2px;
}

#offcanvas {
    position: absolute;
    top: 0;
    right: 0px;
    height: 100vh;
    width: 300px;
    background-color: #fff;
    border-right: 1px solid #CCD1D9;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    margin-left: -3px;
    z-index: 100;
}

#close {
    float: right;
    padding: 10px;
    font-size: 14px;
    color: #434A54;
    transform: translateY(-100%);
    display: block;
    position: relative;
    z-index: 100;
}

#close {
    float: right;
    padding: 10px;
    font-size: 14px;
    color: #434A54;
    transform: translateY(-100%);
    display: block;
    position: relative;
    z-index: 100;
}

.widget {
    padding: 20px;
    border-bottom: 1px solid #CCD1D9;
    opacity: 0;
}

.widget h3 {
    font-size: 12px;
    color: #434A54;
    text-transform: uppercase;
}

.widget p {
    font-size: 13px;
    color: #434A54;
    line-height: 1.5;
}

.widget.image ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.widget.image li {
    display: inline-block;
}

.widget.image img {
    border: 3px solid #E6E9ED;
}

.widget.follow ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.widget.follow li a {
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    color: #656D78;
}

.widget.follow li a:before {
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    font-size: 16px;
}

.sm-logo {
    color: #fff;
    font-size: 25px;
    font-weight: bolder;
    letter-spacing: 2px;
}

.bg-logo {
    display: none
}

.scroller {
    position: absolute;
    bottom: 0px;
    height: 80px;
    background: red;
    width: 100%;
    padding: 0;
    margin: 0;
}

.scroller .text {
    display: block;
    margin: 10px 10px;
    color: #6c6f73;
    text-transform: uppercase;
    font-family: "Roboto", Arial, sans-serif;
}

.scroller .ion {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 15px;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 1.8;
    border-radius: 50%;
    border: 1px solid #CCD1D9;
    margin-right: auto;
    margin-left: auto;
}

.scroller .icon {
    color: #434A54;
    text-decoration: none;
    display: block;
    margin-right: 5px;
    text-align: center;
    width: 120px;
    position: absolute;
    left: 50%;
    margin-left: -60px;
    font-size: 11px;
}

.scroller .down {
    top: 10px;
    margin-top: 0px;
}

.scroller .up {
    bottom: 10px;
    margin-bottom: 20px;
}

.scroller .ion {
    background-color: #fff;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.1);
}